* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html, body {   
    height: 100%;
}

.app {
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 1fr 70px;
}

.header {    grid-column: 1/3;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;

}

.sidebar {
    grid-row: 2/4;
    background-color: grey;
    color: white;


}

.sidebar div {
    padding: 20px 0px;
    text-align: center;
    background-color: purple;
}

.sidebar div:hover {
    opacity: .7;
}

.main {
    background-image: url('https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-silver-select-2018?wid=441&hei=529&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1550795411708');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    background-color: black;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}