*{
    padding: 0;
    margin: 0;
}


h1  {
    color: red;
    background-color: blue
}

p{
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline line-through;
    font-style: italic;
    font-family: "Impact", sans-serif
}

span{
    border: solid black 5px;
    padding: 20px 10px 5px 10px;
    margin: 50px;
    }

    ul{
        list-style: square
    }
    ol{
        list-style: upper-alpha
    }

    table, th, td{
        border: 1px solid black;
    }

    th, td{
        padding: 10px;
    }
    table{
        border-collapse: collapse;
    }

    .link {
        text-decoration: none;
        font-family: sans-serif;
        border: 2px solid blue;
        padding: 10px;
        border-radius: 10px;
        transition: all .5s;
    }

    .link:hover{
        background-color: blue;
        color: white;
        font-size: 50px;
    }

    .navbar{
        background-color: black;
        color: white
    }

    .nav-list{
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        height: 50;
    }